
h1{
    margin-left:550px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: Times;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(83, 78, 78);
    text-decoration: rgb(83, 78, 78) underline;


}

.book{
    margin-top: 50px;
  
}
