.image{
    margin-top: 50px;
    margin-left: 500px;
    height: 350px;
    width: 300px;
}


.theTable{
    margin-top: 50px;
    margin-left: 420px;  
    border-style: solid;
    border-color: rgb(126, 34, 49);

}



